@media (max-width: 1399.98px) {
    .about-content p{
        font-size: 30px;
    }
    .call-detail>img , .email-detail>img{
        left: 10%;
    }
    .card-1-cases>div>label:nth-child(1) , .card-2-cases>div>label:nth-child(1) {
        font-size: 18px;
    }
    .skill-section>div>label{
        bottom: 0;
    }
    .skill-section>div>img{
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 1199.98px) {
    header>nav>ul{
        right: 15px;
        margin: 7px;
    }
    header{
        height: 6vh;
        transform: translateY(-4.5vh);
    }
    header>nav>ul>li{
        font-size: 20px;
    }
    .heroImage {
        width: 40%;
        height: 80%;
    }
    .content>label:nth-child(3) {
        font-size: 4vw;
    }
    .social-links{
        left: 150px;
        top: 170px;
    }
    .content>button {
        width: 150px;
        left: 185px;
        top: 200px;
    }
    .content>label:first-child{
        top: 100px;
    }
    .content>label:nth-child(3){
        top: 120px;
    }
    .content>label:nth-child(5){
        top: 120px;
    }
    .about-content{
        grid-template-columns: 1.3fr 1.7fr;
    }
    .project-1-img {
        width: 55vw;
    }
    .assignment{
        height: 120vh;
    }
    .assignment-cards{
        grid-template-columns: repeat(2 , 1fr);
        height: 80%;
        top: 15%;
    }
    .card-1-cases{
        width: 40%;
        height: 30%;
        top: 16%;
    }
    .card-2-cases{
        width: 40%;
        height: 30%;
        top: 16%;
        left: 50%;
    }
    .img-4{
        background-position: top;
    }
    .call-detail>img , .email-detail>img{
        left: 0;
    }
    .email>input , .subject>input , .message>textarea{
        left: 10%;
    }
}


@media (max-width: 991.98px) {
    header>nav>ul{
        right: 10px;
        margin: 7px;
    }
    header>nav>ul>li{
        font-size: 18px;
    }
    .social-links{
        width: 200px;
        height: 40px;
        left: 110px;
    }
    .content>button {
        height: 40px;
        left: 135px;
    }
    .about>div:first-child , .education>div:first-child , .skill>div:first-child , .project>div:first-child , .assignment>div:first-child , .contact>div:first-child{
        font-size: 30px;
    }
    .about-content p{
        font-size: 20px;
    }
    .education_card {
        height: 60%;
    }
    .background-ijse {
        background-position: right;
    }
    .card_header>img{
        width: 40%;
    }
    .skill-section>div>img{
        width: 80px;
        height: 80px;
    }
    .project-1-content>label{
        font-size: 23px;
    }
    .project-1-content>p{
        font-size: 14px;
        top: 30%;
    }
    .card>p:nth-child(2){
        font-size: 14px;
    }
    .assignment{
        height: 130vh;
    }
    .assignment-cards{
        top: 15%;
        height: 83%;
    }
    .card>p:nth-child(2){
        font-size: 14px;
    }
    .email>input , .subject>input , .message>textarea{
        left: 20%;
    }
    .btn-send{
        font-size: 18px;
        left: 20%;
    }
    .call-detail>img , .email-detail>img{
        width: 40px;
        height: 40px;
    }
    .call-detail>a , .email-detail>a{
        font-size: 18px;
    }
}


@media (max-width: 767.98px) {
    header>nav>ul{
        right: 5px;
    }
    header>nav>ul>li{
        font-size: 16px;
        margin: 5px;
    }
    .hero{
        height: 105vh;
    }
    .hero>section{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }
    .content{
        position: absolute;
        bottom: 33%;
    }
    .heroImage{
        right: 0;
        left: 0;
        top: 2%;
        width: 50%;
        height: 50%;
        margin: 0 auto auto;
    }
    .content>label:first-child , .content>label:nth-child(3) , .content>label:nth-child(5){
        left: 40px;
    }
    .content>label:first-child , .content>label:nth-child(5){
        font-size: 3vw;
    }
    .content>label:nth-child(3){
        font-size: 6vw;
    }
    .social-links{
        left: 110px;
        bottom: 100px;
    }
    .social-links>a>div>img{
        width: 40px;
        height: 40px;
    }
    .content>button {
        height: 30px;
        font-size: 16px;
        top: 190px;
    }
    .about>div:first-child , .education>div:first-child , .skill>div:first-child , .project>div:first-child , .assignment>div:first-child , .contact>div:first-child{
        font-size: 25px;
        height: 7%;
        width: 35%;
    }
    .about-content p{
        font-size: 18px;
    }
    .about-content img {
        width: 90%;
        height: 80%;
    }
    .card_header>h1{
        font-size: 25px;
    }
    .skill-section{
        grid-template-columns: repeat(3 , 1fr);
        height: 60%;
        top: 70px;
    }
    .skill-section{
        height: 60%;
    }
    .skill-section>div>img{
        width: 75px;
        height: 75px;
        top: 0;
    }
    .skill-section>div>label{
        font-size: 18px;
    }
    .project-1-img{
        width: 80vw;
        height: 50vh;
        top: 10vh;
    }
    .project-1-content{
        width: 60vw;
        height: 40vh;
        top: 50vh;
        left: 20vw;
    }
    .card>p:nth-child(2){
        font-size: 13px;
    }
    .assignment{
        height: 140vh;
    }
    .card-4>a , .card-3>a:nth-child(3){
        top: 88%;
    }
    .card-1>button:nth-child(4) , .card-2>button:nth-child(4) , .card-4>a>button , .card-3>a:nth-child(3)>button , .card-1-cases>div>a:nth-child(2)>button , .card-2-cases>div>a:nth-child(2)>button , .card-1-cases>div>a:nth-child(3)>button , .card-2-cases>div>a:nth-child(3)>button , .card-1-cases>div>label:nth-child(1) , .card-2-cases>div>label:nth-child(1){
        font-size: 13px;
        height: 6%;
        width: 30%;
    }
    .contact{
        height: 100vh;
    }
    .contact-section{
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr;
        margin: 0;
        width: 80%;
        height: 80%;
        top: 20%;
    }
    .call-detail>img , .email-detail>img{
        left: 20%;
    }
    .links-detail{
        left: 10%;
    }
}


@media (max-width: 575.98px) {
    header{
        transform: none;
        height: 7vh;
    }
    nav{
        display: none;
    }
    .container{
        display: inline-block;
    }
    .bar1, .bar2, .bar3 {
        width: 32px;
        height: 4px;
        margin: 5px 0;
    }
    .change .bar1 {
        transform: translate(0, 9px) rotate(-45deg);
    }
    .change .bar3 {
        transform: translate(0, -9px) rotate(45deg);
    }
    .menu-div{
        width: 200px;
    }
    .social-links>a>div>img{
        width: 35px;
        height: 35px;
    }
    .content>button {
        top: 175px;
    }
    .about>div:first-child , .education>div:first-child , .skill>div:first-child , .project>div:first-child , .assignment>div:first-child , .contact>div:first-child{
        font-size: 22px;
        height: 5%;
    }
    .about-content p{
        font-size: 15px;
    }
    .card_header>h1{
        font-size: 20px;
    }
    .skill-section>div>label{
        font-size: 15px;
    }
    .text{
        font-size: 14px;
    }
    .project-1-content>label{
        font-size: 20px;
    }
    .project-1-content>p{
        font-size: 13px;
    }
    .card-1>a:nth-child(3) , .card-2>a:nth-child(3){
        font-size: 13px;
    }
    .card>p:nth-child(2){
        font-size: 11px;
    }
    .card-1>button:nth-child(4) , .card-2>button:nth-child(4) , .card-4>a>button , .card-3>a:nth-child(3)>button , .card-1-cases>div>a:nth-child(2)>button , .card-2-cases>div>a:nth-child(2)>button , .card-1-cases>div>a:nth-child(3)>button , .card-2-cases>div>a:nth-child(3)>button , .card-1-cases>div>label:nth-child(1) , .card-2-cases>div>label:nth-child(1){
        font-size: 11px;
    }
    .card-1-cases>div>img , .card-2-cases>div>img{
        width: 20px;
        height: 20px;
    }
    .call-detail>img , .email-detail>img{
        width: 20px;
        height: 20px;
    }
    .call-detail>a , .email-detail>a ,  .btn-send{
        font-size: 14px;
    }
    .links-detail>a>img{
        width: 30px;
        height: 30px;
    }
}


@media (max-width: 424.98px) {
    .container{
        top: 3px;
    }
    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 3px;
        margin: 4px 0;
    }
    .change .bar1 {
        transform: translate(0, 7px) rotate(-45deg);
    }
    .change .bar3 {
        transform: translate(0, -7px) rotate(45deg);
    }
    .menu-div{
        width: 190px;
    }
    .hero{
        height: 100vh;
    }
    .about{
        height: 80vh;
    }
    .about-content{
        top: 60px;
    }
    .about-content p{
        font-size: 12px;
    }
    .content>button {
        left: 90px;
        font-size: 12px;
        width: 120px;
        height: 30px;
    }
    .social-links{
        left: 70px;
    }
    .card_header>h1 , .project-1-content>label{
        font-size: 18px;
    }
    .education{
        height: 80vh;
    }
    .education_card {
        height: 70%;
    }
    .text , .project-1-content>p{
        font-size: 12px;
    }
    .skill-section>div>img{
        width: 65px;
        height: 65px;
    }
    .assignment{
        height: 200vh;
    }
    .assignment-cards{
        grid-template-columns: 1fr;
        width: 80%;
        top: 10%;
        gap: 2%;
        height: 90%;
    }
    .card-1>a:nth-child(3) , .card-2>a:nth-child(3){
        top: 88%;
    }
    .card-1>button:nth-child(4) , .card-2>button:nth-child(4){
        top: 87%;
        width: 40%;
        height: 10%;
        right: 5%;
        margin: 0;
        left: auto;
    }
    .card-3>a:nth-child(3){
        width: 50%;
        height: 10%;
    }
    .card-1-cases , .card-2-cases{
        width: 70%;
        height: 20%;
        top: 6%;
        left: 10%;
    }
    .card-2-cases{
        top: 29%;
    }
    .call-detail>img , .email-detail>img{
        left: 15%;
    }
    .call-detail>a , .email-detail>a ,  .btn-send{
        font-size: 12px;
    }
}