body{
    margin: 0;
    overflow-x: hidden;
    background: #154360;
}
header{
    width: 100vw;
    height: 10vh;
    position: relative;
    border-bottom: 1px solid gray;
    padding: 0;
    top: -20px;
}
header>nav>ul>li{
    list-style: none;
    font-family: "Mukta", sans-serif;
    font-weight: bold;
    font-style: normal;
    display: inline;
    margin: 10px;
    font-size: 25px
}
header>nav>ul{
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
header>h2{
    width: 20%;
    margin: 0;
    position: relative;
    top: 15px;
    bottom: 0;
    left: 30px;
    color: white;]
}
header>img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
}
.hero>section{
    position: relative;
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.heroImage {
    width: 30%;
    height: 90%;
    position: absolute;
    top: -40px;
    bottom: 0;
    right: 70px;
    margin: auto 0;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transition: grid-template-columns 0.5s;
}

.image-01 {
    background-image: url(../asset/images/image01.jpg);
    background-size: cover;
    background-position: bottom;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.image-02 {
    background-image: url(../asset/images/image02.jpg);
    background-size: cover;
    background-position: center;
}

.image-03 {
    background-image: url(../asset/images/image03.jpg);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content>label:first-child{
    font-size: 2vw;
    font-weight: 200;
    color: #F86F03;
    position: relative;
    top: 50px;
    left: 70px;
}
.content>label:nth-child(3){
    font-size: 5vw;
    font-weight: bold;
    color: white;
    position: relative;
    top: 70px;
    left: 70px;
}
.content>label:nth-child(5){
    font-size: 2.5vw;
    font-weight: bold;
    color: white;
    position: relative;
    top: 70px;
    left: 70px;
}
.social-links{
    width: 230px;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    position: relative;
    top: 120px;
    left: 200px;
}
.content>button{
    width: 200px;
    height: 50px;
    background-color: #F86F03;
    color: white;
    border-radius: 10px;
    border: none;
    position: relative;
    top: 150px;
    left: 210px;
    font-size: 18px;
}

/* ---------- about section ---------- */

.about{
    width: 100vw;
    height: 100vh;
}

.about>div:first-child{
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 15%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    position: relative;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
}

.about-content{
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.about-content p{
    color: white;
    font-size: 32px;
}

.about-content img{
    width: 86%;
    filter: grayscale(100%);
}
.about-content img:hover{
    filter: grayscale(0%);
}
/* ---------- education section ---------- */

.education{
    width: 100vw;
    height: 70vh;
}

.education>div:first-child{
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 15%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    position: relative;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
}
.education_card {
    position: relative;
    display: block;
    width: 800px;
    height: 350px;
    margin: 80px auto;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
    box-shadow: 0px 0px 120px -25px rgb(28, 27, 26);
    box-sizing: border-box;
}
.education_card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
}
.education_card .info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    background: linear-gradient(to right, #fffdfd 50%, transparent 100%);
}
.education_card .blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    border-radius: 11px;
    width: 80%;
    background-position: -100% 10% !important;
}

.background-ijse {
    background: url("/asset/images/education_background.jpg");
}
.card_header{
    position: relative;
    left: 5%;
}
.header_image{

}
.card_header>h1{

}
.card_content{
    position: relative;
    left: 5%;
    width: 60%;
}

/* ---------- skill section ---------- */

.skill{
    width: 100vw;
    height: 75vh;
}

.skill>div:first-child{
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 15%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    position: relative;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
}

.skill-section{
    background-color: white;
    width: 90%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    position: relative;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
}

.skill-section>div{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

.skill-section>div>img{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 20px;
    margin: auto;
}

.skill-section>div>label{
    position: relative;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
    font-size: 20px;
    font-weight: bolder;
}

/* ---------- project section ---------- */

.project{
    width: 100vw;
    height: 100vh;
}

.project>div:first-child{
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 15%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    position: relative;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
}
.project>section{
    position: relative;
}

.project-1-img{
    width: 45vw;
    height: 65vh;
    background-image: url("/asset/images/melaMaster.png");
    background-size: cover;
    background-position: center;
    position: relative;
    top: 13vh;
    left: 10vw;
    filter: grayscale(100%);
}

.project-1-img:hover{
    filter: none;
}

.project-1-content{
    width: 40vw;
    height: 50vh;
    background-color: white;
    position: absolute;
    top: 20vh;
    left: 50vw;
    border-radius: 20px;
    border: 4px solid #F86F03;
}

/* ---------- contact section ---------- */

.contact{
    width: 100vw;
    height: 70vh;
    position: relative;
}

.contact>div:first-child{
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 15%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    position: relative;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
}

.contact-section{
    width: 80vw;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    position: absolute;
    top:15vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.social-details{
    position: relative;
}

.call-detail , .email-detail{
    width: 100%;
    height: 25%;
    position: relative;
}

.call-detail>img , .email-detail>img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 20%;
}
.call-detail>a , .email-detail>a{
    height: 100%;
    width: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.email-detail>a{
    left: 30%;
}

.links-detail{
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    top: 20px;
}

.send-email-details{
    position: relative;
}

.send-email-details *::placeholder{
   color : white;
}

.email>input , .subject>input , .message>textarea , .btn-send{
    width: 80%;
    height: 10%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    border: none;
    background-color: #43366A;
    color: white;
}

.subject>input{
    top: 15%;
}

.message>textarea{
    top: 32%;
    height: 25%;
}

.btn-send{
    width: 30%;
    height: 15%;
    top: 62%;
    font-weight: bold;
    font-size: 20px;
}




